Repository paulbuechner/storybook-addon-data-theme-switcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(dev): use `light` theme as default
  .storybook/preview.ts
Due: eslint --fix, prettier --write

refactor: migrate to non-deprecated Storybook component APIs
  .changeset/prep-storybook-v11.md
  e2e/theme-switcher.spec.ts
  src/Tool.tsx
  src/components/ColorIcon.tsx
  src/types/ThemeSelectorItem.ts
Due: eslint --fix, prettier --write

test: reduce `playwright` timeout
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: update changesets
  .changeset/fix-toolbar-tooltip.md
Due: prettier --write

chore: `ghost` variant is the default
  .changeset/fix-toolbar-button.md
  src/Tool.tsx
Due: eslint --fix, prettier --write

chore: add `claude` settings
  .claude/settings.local.json
Due: prettier --write

chore(dev): fixup eslint cfg
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/Tool.tsx
Due: eslint --fix, prettier --write

chore(dev): cleanup `./dist` on each build
  tsdown.config.ts
Due: eslint --fix, prettier --write

chore(docs): add `CLAUDE.md`
  CLAUDE.md
Due: prettier --write

ci: add `lint` and `test` steps
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write

Revert "ci(changesets): version packages (next) (#430)"
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: prettier --write

Revert "ci(changesets): version packages (next) (#430)" (#431)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: prettier --write

ci: add `NPM_TOKEN` check before merging changesets
  .github/workflows/verify-npm-token.yml
Due: prettier --write

ci: allow manually triggering the workflow
  .github/workflows/quality.yml
  .github/workflows/verify-npm-token.yml
Due: prettier --write

ci: use npm trusted publishing
  .github/workflows/release.yml
  .github/workflows/verify-npm-token.yml
  package.json
Due: prettier --write

chore: update `.gitignore`
  .claude/settings.local.json
  .gitignore
  test-results/.last-run.json
Due: prettier --write

chore: update env example
  .env.example
Due: none

chore: default storybook component button style is `ghost`
  .changeset/pre.json
  src/Tool.tsx
Due: eslint --fix, prettier --write

chore: misc
  tsdown.config.ts
Due: eslint --fix, prettier --write

chore: exit pre release
  .changeset/pre.json
Due: prettier --write

feat: toolbar UX improvements and Storybook v11 preparation (#435)
  .changelog/manifest.json
  .changeset/fix-decorator-sync.md
  .changeset/fix-toolbar-button.md
  .changeset/fix-toolbar-tooltip.md
  .changeset/pre.json
  .changeset/prep-storybook-v11.md
  .changeset/show-selected-theme-name.md
  .changeset/simplify-tool-component.md
  .changeset/two-zoos-boil.md
  .env.example
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  CHANGELOG.md
  CLAUDE.md
  e2e/theme-switcher.spec.ts
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/Tool.tsx
  src/components/ColorIcon.tsx
  src/stories/Button.stories.ts
  src/styles/globals.css
  src/types/ThemeConfig.ts
  src/types/ThemeSelectorItem.ts
  src/typings.d.ts
  src/withGlobals.ts
  tsconfig.json
  tsdown.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: misc
  .storybook/local-preset.js
  src/types/ThemeConfig.ts
Due: eslint --fix, prettier --write

ci: deploy storybook example
  .github/workflows/deploy-storybook.yml
Due: prettier --write

chore: remove stale changesets already released on main
  .changeset/fix-decorator-sync.md
  .changeset/fix-toolbar-button.md
  .changeset/fix-toolbar-tooltip.md
  .changeset/prep-storybook-v11.md
  .changeset/show-selected-theme-name.md
  .changeset/simplify-tool-component.md
  .changeset/two-zoos-boil.md
Due: prettier --write

chore: remove pre-release mode config
  .changeset/pre.json
Due: prettier --write

chore: misc
  src/types/ThemeConfig.ts
Due: eslint --fix, prettier --write

fix: initial `dataTheme` from `initialGlobals` not applying on load
  .changeset/fix-initial-theme.md
  src/preset/preview.ts
  src/withGlobals.ts
Due: eslint --fix, prettier --write

test: solely rely on playwright e2e tests
  e2e/theme-switcher.spec.ts
  src/stories/Button.stories.ts
Due: eslint --fix, prettier --write

feat: track external changes to `data-theme` attr
  .changeset/observe-external-theme-changes.md
  e2e/theme-switcher.spec.ts
  src/Tool.tsx
  src/withGlobals.ts
Due: eslint --fix, prettier --write

test: cover custom `data-theme` attribute
  e2e/theme-switcher.spec.ts
  src/stories/Button.stories.ts
Due: eslint --fix, prettier --write

chore: update homepage meta to point to hosted github page
  package.json
Due: prettier --write

chore: update theme to support custom data attr
  src/styles/globals.css
Due: none

build(pnpm): fix install failing on unreviewed dependency build scripts
  pnpm-workspace.yaml
Due: none

chore(deps): update all dependencies
  .github/workflows/deploy-storybook.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: support storybook v11
  .changeset/csf-next-globals-types.md
  .changeset/fix-unavailable-toolbar-icon.md
  .changeset/support-storybook-v11.md
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .storybook/preview.ts
  CLAUDE.md
  README.md
  package.json
  src/Tool.tsx
  src/constants.ts
  src/preset/index.ts
  src/preset/manager.ts
  src/preset/types.ts
  src/stories/Button.stories.ts
Due: eslint --fix, prettier --write

test(e2e): wait for the story render instead of reselecting the theme
  e2e/theme-switcher.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,json,yml})
