Repository paulbuechner/storybook-addon-data-theme-switcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{md,json,yml}": [
    "prettier --write"
  ]
}

chore(release): 0.1.0
  package.json
Due: prettier --write

ci: update `auto` cfg
  .autorc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): v0.1.0
  package.json
Due: prettier --write

chore(release): v0.1.0 (#2)
  package.json
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write

Bump version to: 0.1.2 [skip ci]
  package.json
Due: prettier --write

chore(docs): update README
  .autorc
  README.md
  docs/animation.gif
  docs/animation.svg
Due: prettier --write

Bump version to: 0.1.3 [skip ci]
  package.json
Due: prettier --write

chore(docs): addon preview animation
  README.md
  docs/animation.svg
Due: prettier --write

chore(docs): update README
  README.md
Due: prettier --write

Bump version to: 0.1.4 [skip ci]
  package.json
Due: prettier --write

docs: update README
  docs/animation.gif
  docs/animation.svg
Due: none

Bump version to: 0.1.5 [skip ci]
  package.json
Due: prettier --write

chore: minor improvements
  src/withGlobals.ts
Due: eslint --fix, prettier --write

Bump version to: 0.1.6 [skip ci]
  package.json
Due: prettier --write

ci: configure `.changeset`
  .autorc
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: configure `renovate`
  renovate.json
Due: prettier --write

chore: update `.commitlintrc`
  .commitlintrc
Due: none

chore: update release workflow
  .github/workflows/release.yml
Due: prettier --write

ci: add `quality` check workflow
  .github/workflows/quality.yml
Due: prettier --write

ci: cache `node_modules` on `quality` workflow
  .github/workflows/quality.yml
Due: prettier --write

chore: add `.eslintignore`
  .eslintignore
  .eslintrc.cjs
  prettier.config.cjs
Due: none

fix: package exports
  src/preset/index.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

chore: rm unused peer deps
  package.json
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

ci: add changeset
  .changeset/proud-planes-allow.md
Due: prettier --write

fix: package exports (#11)
  .changeset/proud-planes-allow.md
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  src/preset/index.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

ci: configure `changeset` release workflow
  .changelog/manifest.json
  .changelog/v0.1.2.mdx
  .changelog/v0.1.3.mdx
  .changelog/v0.1.4.mdx
  .changelog/v0.1.5.mdx
  .changelog/v0.1.6.mdx
  .changeset/proud-planes-allow.md
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  scripts/changelog.ts
  scripts/utils/changelog-utils.ts
  scripts/utils/changeset-utils.ts
  scripts/utils/package-json.ts
Due: eslint --fix, prettier --write

chore: fix workflow
  .github/workflows/release.yml
Due: prettier --write

Revert "chore: fix workflow"
  .github/workflows/release.yml
Due: prettier --write

chore: minor improvements
  .changeset/three-ducks-type.md
  .eslintignore
  .eslintrc.cjs
  .husky/commit-msg
  .storybook/local-preset.js
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/Tool.tsx
  src/preset/manager.ts
  tsconfig.json
  tsup.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

revert: rm commitlint commit-msg check
  .husky/commit-msg
Due: none

feat: updates ThemeConfig to take dataAttribute and use it in withGlobals
  src/types/ThemeConfig.ts
  src/withGlobals.ts
Due: eslint --fix, prettier --write

chore: adds changeset
  .changeset/four-rice-smell.md
  .nvmrc
  package.json
Due: prettier --write

feat: updates ThemeConfig to take dataAttribute and use it in withGlobals
  .changeset/our-first-change-set.md
  .nvmrc
  package.json
  src/types/ThemeConfig.ts
  src/withGlobals.ts
Due: eslint --fix, prettier --write

feat: migrate project to yarn
  package.json
  yarn.lock
Due: prettier --write
