Repository paulbuechner/storybook-addon-data-theme-switcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{md,json,yml}": [
    "prettier --write"
  ]
}

feat: option to set custom data attribute
  .changeset/empty-squids-turn.md
  .changeset/pre.json
  .changeset/twenty-buckets-sleep.md
  .storybook/preview.ts
  README.md
  package.json
  src/Tool.tsx
  src/constants.ts
  src/types/ThemeConfig.ts
  src/withGlobals.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

ci(changesets): version packages
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: prettier --write

chore: try fix package exports
  .changeset/nine-schools-rhyme.md
  .changeset/pre.json
  CHANGELOG.md
  manager.js
  package.json
  preview.js
Due: eslint --fix, prettier --write

chore: try fix package exports
  .changeset/new-kids-serve.md
  .storybook/preview.ts
  manager.js
  package.json
  preview.js
  src/preset/index.ts
  src/preset/types.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

chore: update `README`
  README.md
Due: prettier --write

chore: wrap up
  .changeset/new-kids-serve.md
  .changeset/nine-schools-rhyme.md
  .changeset/pre.json
Due: prettier --write

feat: update ThemeConfig to take a custom dataAttribute and use it in withGlobals (#86)
  .changeset/empty-squids-turn.md
  .changeset/pre.json
  .changeset/twenty-buckets-sleep.md
  .storybook/preview.ts
  CHANGELOG.md
  README.md
  package.json
  src/Tool.tsx
  src/constants.ts
  src/preset/index.ts
  src/preset/types.ts
  src/types/ThemeConfig.ts
  src/withGlobals.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

ci(changesets): version packages
  .changeset/empty-squids-turn.md
  .changeset/pre.json
  .changeset/twenty-buckets-sleep.md
  CHANGELOG.md
  package.json
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore: limit package upgrades
  renovate.json
Due: prettier --write

chore: don't automerge major
  renovate.json
Due: prettier --write

feat: title and icon toolbar customizations
  .storybook/preview.ts
  README.md
  src/Tool.tsx
  src/preset/types.ts
  src/types/ThemeConfig.ts
  src/withGlobals.ts
Due: eslint --fix, prettier --write

Create famous-llamas-design.md
  .changeset/famous-llamas-design.md
Due: prettier --write

feat: title and icon toolbar customizations (#123)
  .changeset/famous-llamas-design.md
  .storybook/preview.ts
  README.md
  src/Tool.tsx
  src/preset/types.ts
  src/types/ThemeConfig.ts
  src/withGlobals.ts
Due: eslint --fix, prettier --write

chore: official support for storybook v8
  .changeset/sweet-cherries-flash.md
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/Tool.tsx
Due: eslint --fix, prettier --write

chore: update README.md
  README.md
Due: prettier --write

fix: make toolbar customizations optional
  .changeset/perfect-carrots-melt.md
  src/Tool.tsx
  src/types/ThemeConfig.ts
Due: eslint --fix, prettier --write

chore: update `renovate` config
  renovate.json
Due: prettier --write

chore: fixup commitlint
  .husky/commit-msg
Due: none

chore: lock update
  pnpm-lock.yaml
Due: none

chore: ESM compat
  tsconfig.json
Due: prettier --write

chore: update `eslint` config
  .eslintrc.cjs
Due: none

feat: storybook v9 compatibility changes
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-icon-names.ts
  src/Tool.tsx
  src/preset/manager.ts
  src/preset/preview.ts
  src/types/ThemeConfig.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

chore: formatting
  README.md
Due: prettier --write

ci(changesets): add changeset
  .changeset/purple-kids-wait.md
Due: prettier --write

ci: try fix postinstall issue
  .changeset/violet-seals-report.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: module types export
  .changeset/thirty-suns-type.md
  package.json
Due: prettier --write

ci(changesets): version packages
  .changeset/pre.json
  .changeset/purple-kids-wait.md
  .changeset/thirty-suns-type.md
  .changeset/violet-seals-report.md
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update tooling
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prettier.config.js
  src/Tool.tsx
  styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore(deps): support react 19 in peer deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): bump react types to v19
  package.json
Due: prettier --write

Create rich-dogs-melt.md
  .changeset/rich-dogs-melt.md
Due: prettier --write

chore(deps): support react 19 in peer deps (#258)
  .changeset/rich-dogs-melt.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): migrate to tailwind v4
  package.json
  pnpm-lock.yaml
  postcss.config.js
  styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

ci: use pnpm version in `package.json`
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write
